.buttonEnd2 {
    padding-right: 5px;
}

.additionPad {
    padding-right: 10px;
}

.inputStyle {
    width: 250px;
}

.distNav {
    padding-left: 45px;
    padding-right: 45px;
}

.padBottom2 {
    padding-bottom: 10px;
}

.padUpper {
    padding-top: 15px;
}

.icon-pad {
    padding-top: 5px;
}

.link-style {
    text-decoration: none;
}

.adjustPos {
    font-size: x-small;
}