.div_buttons_mod {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.extra-padding-mod {
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

.assignment_button {
    background-color: red; 
    color: white ;
  }

.left-extra-pad {
    padding-left: 10px;
}

.mini-tab-second {
    padding-right: 10px;
}

.up-down-adjust-sec {
    padding-top: 10px;
    padding-bottom: 10px;
}

.spacing {
    padding-left: 40px;
    padding-right: 40px;
}

.spaceTop {
    padding-top: 5px;
}

.buttonEnd {
    display: flex; 
    justify-content: flex-end; 
    padding-right: 40px;
}

.padRight {
    padding-right: 10px;
}

.padBoth {
    padding-right: 5px;
    padding-left: 5px;
}

.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.align {
  text-align: right;
}